body {
	background-color: rgb(250,250,250);
	color: black;
	font-family: tahoma,verdana,sans-serif;
	font-size: 16px;
	line-height: 1.3em;
}
section#splash {
	background-image:url('../images/rosegrouppic.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}
h1 {
	display: inline;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 3em;
	font-weight: normal;
	text-align: left;
}
a {
	text-decoration: none;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 3em;
	margin-left: 3em;
}
.logopic {
	display: inline;
	margin:0; 
	padding:0; 
	box-sizing: border-box;
	height:6em;
}
.center {
	display:block;
	margin:0 auto 0 auto;
}
#slogan {
	font-family: trebuchet, serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
.smallsplash {
	height:82vh;
}