body {
	background-color: rgb(250,250,250);
	color: black;
	font-family: trebuchet;
	font-size: 16px;
}
h1 {
	font-family: helvetica;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
}
.center {
	text-align: center;
}
p {
	font-size: 16px;
}
#slogan {
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
